<footer>
	<div class="footer">
		<div class="footer-content">

			<div class="footer-section about">
				<div class="logo">
					<a class="navbar-brand" href="#" style="font-weight: 900;font-size: 35px;
          font-family:' League Sparton;">BOOK <span style="color: #d0ecec;">IT</span></a>
					<h4>For the lover of books</h4><br>
				</div>
			</div>

			<div class="footer-section links">
				<h4>LINKS</h4><br>
				<div>
					<a href="#">About</a>
					<a href="#">Sale</a>
					<a href="#">Store</a>
					<a href="#">Security</a>
					<a href="#">Terms</a>
				</div>
			</div>

			<div class="footer-section contact-form">
				<h4>Contact Us</h4><br>
				<div class="contact-box">
					<span><i class="fa fa-phone"></i> &nbsp; +91-7895578136</span><br>
					<span><i class="fa fa-envelope"></i> &nbsp; mohdraqif94@gmail.com</span><br>
					<span><i class="fa fa-clock-o"></i> &nbsp; Mon-Sat 8.00 AM - 10.00 PM</span>
				</div>
				<div class="socials">
					<a href="#"><i class="fa fa-facebook"></i></a>
					<a href="#"><i class="fa fa-instagram"></i></a>
					<a href="#"><i class="fa fa-twitter"></i></a>
					<a href="#"><i class="fa fa-youtube"></i></a>
					<a href="#"><i class="fa fa-linkedin"></i></a>
					<a href="#"><i class="fa fa-google"></i></a>
					<a href="#"><i class="fa fa-medium"></i></a>
				</div>
			</div>

			<div class="footer-section contact-map">
				<h4>We are here</h4><br>
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7019.770510320578!2d79.40665704913197!3d28.392533480272466!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39a00709bb82429f%3A0x1b7218a65f0799e7!2sBaba%20Sweet!5e0!3m2!1sen!2sin!4v1570859337272!5m2!1sen!2sin" width="350" height="230" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
			</div>
		</div>

		<div class="footer-bottom">
			<p>&copy; 2019 | Made by Mohd.Raqif with <i class="fa fa-heart"></i></p>
		</div>
	</div>
</footer> 
<script src="/Books/js/scripts.js"></script>
</body>
</html>