<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>BOOK IT</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/css/lightbox.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
</head>

<body>
  {{>header}}<br>
  <h1 style="text-align: center;padding">{{title}}</h1><br> 

  <div class="banner">
    <h2>About Book It</h2>
  </div>

  <div class="second">
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Excepturi ullam doloremque harum quis, corporis obcaecati rerum! Accusantium voluptas magni autem nostrum sapiente? Omnis !</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Excepturi ullam doloremque harum quis, corporis obcaecati rerum! Accusantium voluptas magni autem nostrum sapiente? Omnis !</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Excepturi ullam doloremque harum quis, corporis obcaecati rerum! Accusantium voluptas magni autem nostrum sapiente? Omnis !</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Excepturi ullam doloremque harum quis, corporis obcaecati rerum! Accusantium voluptas magni autem nostrum sapiente? Omnis !</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Excepturi ullam doloremque harum quis, corporis obcaecati rerum! Accusantium voluptas magni autem nostrum sapiente? Omnis !</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Excepturi ullam doloremque harum quis, corporis obcaecati rerum! Accusantium voluptas magni autem nostrum sapiente? Omnis !</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Excepturi ullam doloremque harum quis, corporis obcaecati rerum! Accusantium voluptas magni autem nostrum sapiente? Omnis !</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Excepturi ullam doloremque harum quis, corporis obcaecati rerum! Accusantium voluptas magni autem nostrum sapiente? Omnis !</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Excepturi ullam doloremque harum quis, corporis obcaecati rerum! Accusantium voluptas magni autem nostrum sapiente? Omnis !</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Excepturi ullam doloremque harum quis, corporis obcaecati rerum! Accusantium voluptas magni autem nostrum sapiente? Omnis !</p>
  </div><br><br>

  {{>footer}}
</body>
</html>