<link rel="stylesheet" href="/css/style.css">

{{>header}}<br>
  <h1>{{title}}</h1><br>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Omnis itaque veniam dolorum error et eveniet, non temporibus sint consequuntur ullam recusandae minus, esse sequi neque sit exercitationem vel natus optio.</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Omnis itaque veniam dolorum error et eveniet, non temporibus sint consequuntur ullam recusandae minus, esse sequi neque sit exercitationem vel natus optio.</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Omnis itaque veniam dolorum error et eveniet, non temporibus sint consequuntur ullam recusandae minus, esse sequi neque sit exercitationem vel natus optio.</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Omnis itaque veniam dolorum error et eveniet, non temporibus sint consequuntur ullam recusandae minus, esse sequi neque sit exercitationem vel natus optio.</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Omnis itaque veniam dolorum error et eveniet, non temporibus sint consequuntur ullam recusandae minus, esse sequi neque sit exercitationem vel natus optio.</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Omnis itaque veniam dolorum error et eveniet, non temporibus sint consequuntur ullam recusandae minus, esse sequi neque sit exercitationem vel natus optio.</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Omnis itaque veniam dolorum error et eveniet, non temporibus sint consequuntur ullam recusandae minus, esse sequi neque sit exercitationem vel natus optio.</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Omnis itaque veniam dolorum error et eveniet, non temporibus sint consequuntur ullam recusandae minus, esse sequi neque sit exercitationem vel natus optio.</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Omnis itaque veniam dolorum error et eveniet, non temporibus sint consequuntur ullam recusandae minus, esse sequi neque sit exercitationem vel natus optio.</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Omnis itaque veniam dolorum error et eveniet, non temporibus sint consequuntur ullam recusandae minus, esse sequi neque sit exercitationem vel natus optio.</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Omnis itaque veniam dolorum error et eveniet, non temporibus sint consequuntur ullam recusandae minus, esse sequi neque sit exercitationem vel natus optio.</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Omnis itaque veniam dolorum error et eveniet, non temporibus sint consequuntur ullam recusandae minus, esse sequi neque sit exercitationem vel natus optio.</p><br>
  {{>footer}}
</body>
</html>