  {{>header}}<br>
  <h1 style="text-align: center;padding">{{title}}</h1><br> 

  <div class="banner">
    <h2>About Book It</h2>
  </div>

  <div class="second">
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Excepturi ullam doloremque harum quis, corporis obcaecati rerum! Accusantium voluptas magni autem nostrum sapiente? Omnis !</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Excepturi ullam doloremque harum quis, corporis obcaecati rerum! Accusantium voluptas magni autem nostrum sapiente? Omnis !</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Excepturi ullam doloremque harum quis, corporis obcaecati rerum! Accusantium voluptas magni autem nostrum sapiente? Omnis !</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Excepturi ullam doloremque harum quis, corporis obcaecati rerum! Accusantium voluptas magni autem nostrum sapiente? Omnis !</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Excepturi ullam doloremque harum quis, corporis obcaecati rerum! Accusantium voluptas magni autem nostrum sapiente? Omnis !</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Excepturi ullam doloremque harum quis, corporis obcaecati rerum! Accusantium voluptas magni autem nostrum sapiente? Omnis !</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Excepturi ullam doloremque harum quis, corporis obcaecati rerum! Accusantium voluptas magni autem nostrum sapiente? Omnis !</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Excepturi ullam doloremque harum quis, corporis obcaecati rerum! Accusantium voluptas magni autem nostrum sapiente? Omnis !</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Excepturi ullam doloremque harum quis, corporis obcaecati rerum! Accusantium voluptas magni autem nostrum sapiente? Omnis !</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Excepturi ullam doloremque harum quis, corporis obcaecati rerum! Accusantium voluptas magni autem nostrum sapiente? Omnis !</p>
  </div><br><br>

  <div class="banner">
    <h2>About Me</h2>
  </div>

  <div class="first">
  <main id="about">
      <div class="about-info">
        <img src="img/img1.jpg" alt="Mohd.Raqif" class="bio-image">
      
      <div class="bio">
        <h3 class="text-secondary">Mohd. Raqif Warsi</h3>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deserunt magni nam nisi quae vitae? Quod molestiae ipsa
          autem natus eum vel ducimus nulla harum voluptatem eligendi! Unde, reiciendis? Praesentium, laborum.</p>
      </div>

      <div class="job job-1">
        <h3><i class="fa fa-instagram fa-2x"></i><a href="https://www.instagram.com/mohd_codes/?hl=en" target="blank" style="text-decoration: none;color:black"> @mohd_codes</a></h3>
        <h6>Full Stack Developer</h6>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates perferendis totam enim. Nesciunt porro dolores
          expedita dolor necessitatibus deserunt nemo.</p>
      </div>

      <div class="job job-2">
        <h3><i class="fa fa-facebook fa-2x"></i><a href="https://www.facebook.com/mr_dev94-723347738084168/" target="blank" style="text-decoration: none;color:black"> @mr_dev94</a></h3>
        <h6>Full Stack Developer</h6>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates perferendis totam enim. Nesciunt porro dolores
          expedita dolor necessitatibus deserunt nemo.</p>
      </div>

      <div class="job job-3">
        <h3> <i class="fa fa-twitter fa-2x"></i> <a href="https://twitter.com/mohdraqif1" target="blank" style="text-decoration: none;color:black"> @mohdraqif1</a></h3>
        <h6>Full Stack Developer</h6>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates perferendis totam enim. Nesciunt porro dolores
          expedita dolor necessitatibus deserunt nemo.</p>
      </div>
      </div>
  </main>
  </div><br>

  {{>footer}}
</body>
</html>