{{!-- When user selects to buy books from popup window take him to store--}}

{{>header}}<br>

  <h1 style="text-align:center;">{{title}}</h1><br> 

  <div class="banner">
    <h2>HERE YOU GO</h2>
  </div>

<div class="first">
  <div class="flex-container">
    <div>
      <div class="pic">
        <img src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1457542606l/25136217._SY475_.jpg" alt="">
      </div>
      <div class="info">
        <p>TITLE</p>
      </div>
      <div class="price">
        <p>PRICE <a href="#"><i class="fa fa-shopping-cart"></i></a></p>
      </div>
    </div>

    <div>
      <div class="pic">
        <img src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1457542606l/25136217._SY475_.jpg" alt="">
      </div>
      <div class="info">
        <p>TITLE</p>
      </div>
      <div class="price">
        <p>PRICE <a href="#"><i class="fa fa-shopping-cart"></i></a></p>
      </div>
    </div>

        <div>
      <div class="pic">
        <img src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1457542606l/25136217._SY475_.jpg" alt="">
      </div>
      <div class="info">
        <p>TITLE</p>
      </div>
      <div class="price">
        <p>PRICE <a href="#"><i class="fa fa-shopping-cart"></i></a></p>
      </div>
    </div>

        <div>
      <div class="pic">
        <img src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1457542606l/25136217._SY475_.jpg" alt="">
      </div>
      <div class="info">
        <p>TITLE</p>
      </div>
      <div class="price">
        <p>PRICE <a href="#"><i class="fa fa-shopping-cart"></i></a></p>
      </div>
    </div>

        <div>
      <div class="pic">
        <img src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1457542606l/25136217._SY475_.jpg" alt="">
      </div>
      <div class="info">
        <p>TITLE</p>
      </div>
      <div class="price">
        <p>PRICE <a href="#"><i class="fa fa-shopping-cart"></i></a></p>
      </div>
    </div>

        <div>
      <div class="pic">
        <img src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1457542606l/25136217._SY475_.jpg" alt="">
      </div>
      <div class="info">
        <p>TITLE</p>
      </div>
      <div class="price">
        <p>PRICE <a href="#"><i class="fa fa-shopping-cart"></i></a></p>
      </div>
    </div>

        <div>
      <div class="pic">
        <img src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1457542606l/25136217._SY475_.jpg" alt="">
      </div>
      <div class="info">
        <p>TITLE</p>
      </div>
      <div class="price">
        <p>PRICE <a href="#"><i class="fa fa-shopping-cart"></i></a></p>
      </div>
    </div>

        <div>
      <div class="pic">
        <img src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1457542606l/25136217._SY475_.jpg" alt="">
      </div>
      <div class="info">
        <p>TITLE</p>
      </div>
      <div class="price">
        <p>PRICE <a href="#"><i class="fa fa-shopping-cart"></i></a></p>
      </div>
    </div>

        <div>
      <div class="pic">
        <img src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1457542606l/25136217._SY475_.jpg" alt="">
      </div>
      <div class="info">
        <p>TITLE</p>
      </div>
      <div class="price">
        <p>PRICE <a href="#"><i class="fa fa-shopping-cart"></i></a></p>
      </div>
    </div>

    <div>
      <div class="pic">
        <img src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1457542606l/25136217._SY475_.jpg" alt="">
      </div>
      <div class="info">
        <p>TITLE</p>
      </div>
      <div class="price">
        <p>PRICE <a href="#"><i class="fa fa-shopping-cart"></i></a></p>
      </div>
    </div>

  </div><br>

  <h3 style="text-align: center;">NEW ARRIVALS</h3>
  <hr class="mt-2 mb-5">
  
  <div class="flex-container">
    <div>
      <div class="pic">
        <img src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1457542606l/25136217._SY475_.jpg" alt="">
      </div>
      <div class="info">
        <p>TITLE</p>
      </div>
      <div class="price">
        <p>PRICE <a href="#"><i class="fa fa-shopping-cart"></i></a> <a href="#"><i class="fa fa-phone"></i></a> </p>
      </div>
    </div>

    <div>
      <div class="pic">
        <img src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1457542606l/25136217._SY475_.jpg" alt="">
      </div>
      <div class="info">
        <p>TITLE</p>
      </div>
      <div class="price">
        <p>PRICE <a href="#"><i class="fa fa-shopping-cart"></i></a></p>
      </div>
    </div>

        <div>
      <div class="pic">
        <img src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1457542606l/25136217._SY475_.jpg" alt="">
      </div>
      <div class="info">
        <p>TITLE</p>
      </div>
      <div class="price">
        <p>PRICE <a href="#"><i class="fa fa-shopping-cart"></i></a></p>
      </div>
    </div>

        <div>
      <div class="pic">
        <img src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1457542606l/25136217._SY475_.jpg" alt="">
      </div>
      <div class="info">
        <p>TITLE</p>
      </div>
      <div class="price">
        <p>PRICE <a href="#"><i class="fa fa-shopping-cart"></i></a></p>
      </div>
    </div>

        <div>
      <div class="pic">
        <img src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1457542606l/25136217._SY475_.jpg" alt="">
      </div>
      <div class="info">
        <p>TITLE</p>
      </div>
      <div class="price">
        <p>PRICE <a href="#"><i class="fa fa-shopping-cart"></i></a></p>
      </div>
    </div>

        <div>
      <div class="pic">
        <img src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1457542606l/25136217._SY475_.jpg" alt="">
      </div>
      <div class="info">
        <p>TITLE</p>
      </div>
      <div class="price">
        <p>PRICE <a href="#"><i class="fa fa-shopping-cart"></i></a></p>
      </div>
    </div>

        <div>
      <div class="pic">
        <img src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1457542606l/25136217._SY475_.jpg" alt="">
      </div>
      <div class="info">
        <p>TITLE</p>
      </div>
      <div class="price">
        <p>PRICE <a href="#"><i class="fa fa-shopping-cart"></i></a></p>
      </div>
    </div>

        <div>
      <div class="pic">
        <img src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1457542606l/25136217._SY475_.jpg" alt="">
      </div>
      <div class="info">
        <p>TITLE</p>
      </div>
      <div class="price">
        <p>PRICE <a href="#"><i class="fa fa-shopping-cart"></i></a></p>
      </div>
    </div>

        <div>
      <div class="pic">
        <img src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1457542606l/25136217._SY475_.jpg" alt="">
      </div>
      <div class="info">
        <p>TITLE</p>
      </div>
      <div class="price">
        <p>PRICE <a href="#"><i class="fa fa-shopping-cart"></i></a></p>
      </div>
    </div>

    <div>
      <div class="pic">
        <img src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1457542606l/25136217._SY475_.jpg" alt="">
      </div>
      <div class="info">
        <p>TITLE</p>
      </div>
      <div class="price">
        <p>PRICE <a href="#"><i class="fa fa-shopping-cart"></i></a></p>
      </div>
    </div>
  </div>

  <h3 style="text-align: center;">ALL TIME HITS</h3>
  <hr class="mt-2 mb-5">

  <div class="flex-container">
    <div>
      <div class="pic">
        <img src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1457542606l/25136217._SY475_.jpg" alt="">
      </div>
      <div class="info">
        <p>TITLE</p>
      </div>
      <div class="price">
        <p>PRICE <a href="#"><i class="fa fa-shopping-cart"></i></a> <a href="#"><i class="fa fa-phone"></i></a> </p>
      </div>
    </div>

    <div>
      <div class="pic">
        <img src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1457542606l/25136217._SY475_.jpg" alt="">
      </div>
      <div class="info">
        <p>TITLE</p>
      </div>
      <div class="price">
        <p>PRICE <a href="#"><i class="fa fa-shopping-cart"></i></a></p>
      </div>
    </div>

        <div>
      <div class="pic">
        <img src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1457542606l/25136217._SY475_.jpg" alt="">
      </div>
      <div class="info">
        <p>TITLE</p>
      </div>
      <div class="price">
        <p>PRICE <a href="#"><i class="fa fa-shopping-cart"></i></a></p>
      </div>
    </div>

        <div>
      <div class="pic">
        <img src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1457542606l/25136217._SY475_.jpg" alt="">
      </div>
      <div class="info">
        <p>TITLE</p>
      </div>
      <div class="price">
        <p>PRICE <a href="#"><i class="fa fa-shopping-cart"></i></a></p>
      </div>
    </div>

        <div>
      <div class="pic">
        <img src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1457542606l/25136217._SY475_.jpg" alt="">
      </div>
      <div class="info">
        <p>TITLE</p>
      </div>
      <div class="price">
        <p>PRICE <a href="#"><i class="fa fa-shopping-cart"></i></a></p>
      </div>
    </div>

        <div>
      <div class="pic">
        <img src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1457542606l/25136217._SY475_.jpg" alt="">
      </div>
      <div class="info">
        <p>TITLE</p>
      </div>
      <div class="price">
        <p>PRICE <a href="#"><i class="fa fa-shopping-cart"></i></a></p>
      </div>
    </div>

        <div>
      <div class="pic">
        <img src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1457542606l/25136217._SY475_.jpg" alt="">
      </div>
      <div class="info">
        <p>TITLE</p>
      </div>
      <div class="price">
        <p>PRICE <a href="#"><i class="fa fa-shopping-cart"></i></a></p>
      </div>
    </div>

        <div>
      <div class="pic">
        <img src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1457542606l/25136217._SY475_.jpg" alt="">
      </div>
      <div class="info">
        <p>TITLE</p>
      </div>
      <div class="price">
        <p>PRICE <a href="#"><i class="fa fa-shopping-cart"></i></a></p>
      </div>
    </div>

        <div>
      <div class="pic">
        <img src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1457542606l/25136217._SY475_.jpg" alt="">
      </div>
      <div class="info">
        <p>TITLE</p>
      </div>
      <div class="price">
        <p>PRICE <a href="#"><i class="fa fa-shopping-cart"></i></a></p>
      </div>
    </div>

    <div>
      <div class="pic">
        <img src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1457542606l/25136217._SY475_.jpg" alt="">
      </div>
      <div class="info">
        <p>TITLE</p>
      </div>
      <div class="price">
        <p>PRICE <a href="#"><i class="fa fa-shopping-cart"></i></a></p>
      </div>
    </div>
  </div>

</div><br>

  {{>footer}}
</body>
</html>