<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>BOOK IT</title>
  <link rel="stylesheet" href="/css/style.css">
  <script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
</head>

<body>
  {{>header}}<br>
  <h1>This is {{title}}</h1><br>

<div class="banner">
    <h2>Our Best Sellers</h2>
</div>

<div class="first">
    <div class="top-content">
        <div class="container-fluid">
            <div id="carousel-example" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner row w-100 mx-auto" role="listbox">
                    <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3 active">
                        <img src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1457542606l/25136217._SY475_.jpg" class="img-fluid mx-auto d-block" alt="img1">
                    </div>
                    <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3">
                        <img src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1457542606l/25136217._SY475_.jpg" class="img-fluid mx-auto d-block" alt="img2">
                    </div>
                    <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3">
                        <img src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1457542606l/25136217._SY475_.jpg" class="img-fluid mx-auto d-block" alt="img3">
                    </div>
                    <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3">
                        <img src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1457542606l/25136217._SY475_.jpg" class="img-fluid mx-auto d-block" alt="img4">
                    </div>
                    <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3">
                        <img src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1457542606l/25136217._SY475_.jpg" class="img-fluid mx-auto d-block" alt="img5">
                    </div>
                    <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3">
                        <img src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1457542606l/25136217._SY475_.jpg" class="img-fluid mx-auto d-block" alt="img6">
                    </div>
                    <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3">
                        <img src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1457542606l/25136217._SY475_.jpg" class="img-fluid mx-auto d-block" alt="img7">
                    </div>
                    <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3">
                        <img src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1457542606l/25136217._SY475_.jpg" class="img-fluid mx-auto d-block" alt="img8">
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carousel-example" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carousel-example" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
  </div>
<br><br><br>
  
  <div class="img">
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Omnis itaque veniam dolorum error et eveniet, non temporibus sint consequuntur ullam recusandae minus, esse sequi neque sit exercitationem vel natus optio.</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Omnis itaque veniam dolorum error et eveniet, non temporibus sint consequuntur ullam recusandae minus, esse sequi neque sit exercitationem vel natus optio.</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Omnis itaque veniam dolorum error et eveniet, non temporibus sint consequuntur ullam recusandae minus, esse sequi neque sit exercitationem vel natus optio.</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Omnis itaque veniam dolorum error et eveniet, non temporibus sint consequuntur ullam recusandae minus, esse sequi neque sit exercitationem vel natus optio.</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Omnis itaque veniam dolorum error et eveniet, non temporibus sint consequuntur ullam recusandae minus, esse sequi neque sit exercitationem vel natus optio.</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Omnis itaque veniam dolorum error et eveniet, non temporibus sint consequuntur ullam recusandae minus, esse sequi neque sit exercitationem vel natus optio.</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Omnis itaque veniam dolorum error et eveniet, non temporibus sint consequuntur ullam recusandae minus, esse sequi neque sit exercitationem vel natus optio.</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Omnis itaque veniam dolorum error et eveniet, non temporibus sint consequuntur ullam recusandae minus, esse sequi neque sit exercitationem vel natus optio.</p><br>
  </div><br><br>
  {{>footer}}
  <script src="../js/script/script.js"></script>
</body>
</html>