<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Login/Signup</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  {{>header}}<br>
  <h1>{{title}}</h1><br>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Omnis itaque veniam dolorum error et eveniet, non temporibus sint consequuntur ullam recusandae minus, esse sequi neque sit exercitationem vel natus optio.</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Omnis itaque veniam dolorum error et eveniet, non temporibus sint consequuntur ullam recusandae minus, esse sequi neque sit exercitationem vel natus optio.</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Omnis itaque veniam dolorum error et eveniet, non temporibus sint consequuntur ullam recusandae minus, esse sequi neque sit exercitationem vel natus optio.</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Omnis itaque veniam dolorum error et eveniet, non temporibus sint consequuntur ullam recusandae minus, esse sequi neque sit exercitationem vel natus optio.</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Omnis itaque veniam dolorum error et eveniet, non temporibus sint consequuntur ullam recusandae minus, esse sequi neque sit exercitationem vel natus optio.</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Omnis itaque veniam dolorum error et eveniet, non temporibus sint consequuntur ullam recusandae minus, esse sequi neque sit exercitationem vel natus optio.</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Omnis itaque veniam dolorum error et eveniet, non temporibus sint consequuntur ullam recusandae minus, esse sequi neque sit exercitationem vel natus optio.</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Omnis itaque veniam dolorum error et eveniet, non temporibus sint consequuntur ullam recusandae minus, esse sequi neque sit exercitationem vel natus optio.</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Omnis itaque veniam dolorum error et eveniet, non temporibus sint consequuntur ullam recusandae minus, esse sequi neque sit exercitationem vel natus optio.</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Omnis itaque veniam dolorum error et eveniet, non temporibus sint consequuntur ullam recusandae minus, esse sequi neque sit exercitationem vel natus optio.</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Omnis itaque veniam dolorum error et eveniet, non temporibus sint consequuntur ullam recusandae minus, esse sequi neque sit exercitationem vel natus optio.</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Omnis itaque veniam dolorum error et eveniet, non temporibus sint consequuntur ullam recusandae minus, esse sequi neque sit exercitationem vel natus optio.</p><br>
  {{>footer}}
</body>
</html>