{{>header}}<br>

<div class="banner">
   <h2>The Sale Begins</h2>
</div>

<div class="first">
  <h2 style="text-align: center;">Hold on! We are collecting the Best for you....</h2><br>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe facilis rerum, obcaecati totam quod beatae aliquam recusandae molestias itaque ad consequuntur placeat dicta quae inventore, vero aperiam.</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe facilis rerum, obcaecati totam quod beatae aliquam recusandae molestias itaque ad consequuntur placeat dicta quae inventore, vero aperiam.</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe facilis rerum, obcaecati totam quod beatae aliquam recusandae molestias itaque ad consequuntur placeat dicta quae inventore, vero aperiam.</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe facilis rerum, obcaecati totam quod beatae aliquam recusandae molestias itaque ad consequuntur placeat dicta quae inventore, vero aperiam.</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe facilis rerum, obcaecati totam quod beatae aliquam recusandae molestias itaque ad consequuntur placeat dicta quae inventore, vero aperiam.</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe facilis rerum, obcaecati totam quod beatae aliquam recusandae molestias itaque ad consequuntur placeat dicta quae inventore, vero aperiam.</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe facilis rerum, obcaecati totam quod beatae aliquam recusandae molestias itaque ad consequuntur placeat dicta quae inventore, vero aperiam.</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe facilis rerum, obcaecati totam quod beatae aliquam recusandae molestias itaque ad consequuntur placeat dicta quae inventore, vero aperiam.</p>
</div><br>

{{>footer}}