{{!-- When user selects to sell books from popup window --}}{{!-- When user selects to buy books from popup window take him to store--}}

{{>header}}<br>

  <h1 style="text-align: center;">{{title}}</h1><br> 

  <div class="banner">
    <h2>HERE YOU GO</h2>
  </div>

<div class="first">

</div><br>

  {{>footer}}
</body>
</html>