{{>header}}<br>
 
  <div id="myNav" class="overlay">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <div class="overlay-content" style="background-color: burlywood;">
      <a href="http://localhost:3000/buy">I WANNA BUY</a>
    </div>
    <div class="overlay-content" style="background-color: aquamarine;">
      <a href="http://localhost:3000/sell">I WANNA SELL</a>
    </div>
  </div>

  <script>
    function openNav() {
      document.getElementById("myNav").style.width = "100%";
    }

    function closeNav() {
      document.getElementById("myNav").style.width = "0%";
    }
  </script>

</body>
</html>