{{>header}}<br>

  <h1 style="text-align: center;color:red;">{{title}}</h1><br> 

  <div class="banner">
    <h2>The Store</h2>
  </div>
  
  <div id="myNav" class="overlay">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <div class="overlay-content">
      <a href="#">About</a>
      <a href="#">Services</a>
      <a href="#">Clients</a>
      <a href="#">Contact</a>
    </div>
  </div>

  <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>

  <div class="first">
      <div>
          <a href="http://localhost:3000/buy" style="text-decoration: none;color:black;"><h2 style="text-align: center;padding-top:30px;">I WANNA BUY </h2></a>
      </div><br>
      <div>
          <a href="http://localhost:3000/sell" style="text-decoration: none;color:black;"><h2 style="text-align: center;padding-top:30px;">I WANNA SELL </h2></a>
      </div>
  </div><br>

  <script>
    function openNav() {
      document.getElementById("myNav").style.width = "100%";
    }

    function closeNav() {
      document.getElementById("myNav").style.width = "0%";
    }
  </script>

  {{>footer}}
</body>
</html>