{{>header}}<br>
  <h1 style="text-align: center;">{{title}}</h1><br> 

<div class="first">
  <div class="terms">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam recusandae non harum. Dignissimos vero vel aperiam error pariatur a? Molestias magni esse incidunt omnis eius iure, natus pariatur nobis repellat?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam recusandae non harum. Dignissimos vero vel aperiam error pariatur a? Molestias magni esse incidunt omnis eius iure, natus pariatur nobis repellat?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam recusandae non harum. Dignissimos vero vel aperiam error pariatur a? Molestias magni esse incidunt omnis eius iure, natus pariatur nobis repellat?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam recusandae non harum. Dignissimos vero vel aperiam error pariatur a? Molestias magni esse incidunt omnis eius iure, natus pariatur nobis repellat?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam recusandae non harum. Dignissimos vero vel aperiam error pariatur a? Molestias magni esse incidunt omnis eius iure, natus pariatur nobis repellat?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam recusandae non harum. Dignissimos vero vel aperiam error pariatur a? Molestias magni esse incidunt omnis eius iure, natus pariatur nobis repellat?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam recusandae non harum. Dignissimos vero vel aperiam error pariatur a? Molestias magni esse incidunt omnis eius iure, natus pariatur nobis repellat?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam recusandae non harum. Dignissimos vero vel aperiam error pariatur a? Molestias magni esse incidunt omnis eius iure, natus pariatur nobis repellat?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam recusandae non harum. Dignissimos vero vel aperiam error pariatur a? Molestias magni esse incidunt omnis eius iure, natus pariatur nobis repellat?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam recusandae non harum. Dignissimos vero vel aperiam error pariatur a? Molestias magni esse incidunt omnis eius iure, natus pariatur nobis repellat?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam recusandae non harum. Dignissimos vero vel aperiam error pariatur a? Molestias magni esse incidunt omnis eius iure, natus pariatur nobis repellat?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam recusandae non harum. Dignissimos vero vel aperiam error pariatur a? Molestias magni esse incidunt omnis eius iure, natus pariatur nobis repellat?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam recusandae non harum. Dignissimos vero vel aperiam error pariatur a? Molestias magni esse incidunt omnis eius iure, natus pariatur nobis repellat?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam recusandae non harum. Dignissimos vero vel aperiam error pariatur a? Molestias magni esse incidunt omnis eius iure, natus pariatur nobis repellat?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam recusandae non harum. Dignissimos vero vel aperiam error pariatur a? Molestias magni esse incidunt omnis eius iure, natus pariatur nobis repellat?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam recusandae non harum. Dignissimos vero vel aperiam error pariatur a? Molestias magni esse incidunt omnis eius iure, natus pariatur nobis repellat?</p>
  </div>
</div>
<br><br>

{{>footer}}
</body>
</html>