/* Footer */
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
section {
    padding: 30px 0;
}

.first {
    background-color: #d0ecec;
    padding: 50px 15px;
}

.second {
    background-color: #d0ecec;
    padding: 50px 50px;
    margin: 0 60px;
}

.banner {
    background-color: #355561;
    width: 300px;
    height: 60px;
    margin: auto auto 23px;
    margin-top: 5px;
    text-align: center;
    box-shadow: 0px 10px 15px rgba(3, 3, 3, 0.808);
}
.banner h2 {
    color: #feffff;
    padding: 10px 33px 10px;
}

@media (min-width: 768px) and (max-width: 991px) {
    /* Show 4th slide on md if col-md-4*/
    .carousel-inner .active.col-md-4.carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: absolute;
        top: 0;
        right: -33.3333%;  /*change this with javascript in the future*/
        z-index: -1;
        display: block;
        visibility: visible;
    }
}
@media (min-width: 576px) and (max-width: 768px) {
    /* Show 3rd slide on sm if col-sm-6*/
    .carousel-inner .active.col-sm-6.carousel-item + .carousel-item + .carousel-item {
        position: absolute;
        top: 0;
        right: -50%;  /*change this with javascript in the future*/
        z-index: -1;
        display: block;
        visibility: visible;
    }
}
@media (min-width: 576px) {
    .carousel-item {
        margin-right: 0;
    }
    /* show 2 items */
    .carousel-inner .active + .carousel-item {
        display: block;
    }
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item {
        transition: none;
    }
    .carousel-inner .carousel-item-next {
        position: relative;
        transform: translate3d(0, 0, 0);
    }
    /* left or forward direction */
    .active.carousel-item-left + .carousel-item-next.carousel-item-left,
    .carousel-item-next.carousel-item-left + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    /* farthest right hidden item must be also positioned for animations */
    .carousel-inner .carousel-item-prev.carousel-item-right {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        display: block;
        visibility: visible;
    }
    /* right or prev direction */
    .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
    .carousel-item-prev.carousel-item-right + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }
}
/* MD */
@media (min-width: 768px) {
    /* show 3rd of 3 item slide */
    .carousel-inner .active + .carousel-item + .carousel-item {
        display: block;
    }
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item {
        transition: none;
    }
    .carousel-inner .carousel-item-next {
        position: relative;
        transform: translate3d(0, 0, 0);
    }
    /* left or forward direction */
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    /* right or prev direction */
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }
}
/* LG */
@media (min-width: 991px) {
    /* show 4th item */
    .carousel-inner .active + .carousel-item + .carousel-item + .carousel-item {
        display: block;
    }
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item + .carousel-item {
        transition: none;
    }
    /* Show 5th slide on lg if col-lg-3 */
    .carousel-inner .active.col-lg-3.carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: absolute;
        top: 0;
        right: -25%;  /*change this with javascript in the future*/
        z-index: -1;
        display: block;
        visibility: visible;
    }
    /* left or forward direction */
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    /* right or prev direction //t - previous slide direction last item animation fix */
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }
}

.h1 {
    color: chartreuse;
}
.img{
    background-color: #f0d986;
}

section .section-title {
    text-align: center;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.footer {
    background: #40bfb9;
    color: #d3d3d3;
    height: 395px;
}

.footer .footer-bottom {
    background-color: #355561;
    color:#e6f0f0;
    height: 55px;
    text-align: center;
    position: relative;
    bottom: 0px;
    left: 0px;
    padding-top: 15px;    
    padding-bottom: 10px;    
}

.footer .footer-content .footer-section h1{
    color: black;
}

.footer .footer-content {
    height: 340px;
    text-align: center;
    display: flex;
} 

.footer .footer-content .footer-section {
    flex: 1;
    padding: 25px;
}

.footer .footer-content h1,
.footer .footer-content p,
.footer .footer-content h4 {
    color: white;
}

.footer .footer-content .about .contact span {
    display: block;
    font-size: 1.1rem;
    margin-bottom: 8px;
}
.footer .footer-content .about .logo {
    margin-top: 20px;
    padding-left: 80px;
}

.footer .footer-content .about .logo a {
    color: black;
}

.footer .footer-content .about .logo a span {
    color: #d0ecec;
}

.footer .footer-content .links h4{
    padding-right: 30px;
}

.footer .footer-content .links a {
    text-decoration: none;
    display: block;
    margin-right: 40px;
    margin-bottom: 10px;
    font-size: 1.3rem;
    color: white;
    transition: all .3s;
}

.footer .footer-content .links a:hover {
    color: #355561;
    margin-left: 15px;
}

.footer .footer-content .contact-form .contact-box {
    background: #d0ecec;
    font-weight: 500;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
    margin: 0px 10px 28px;
    padding: 20px;
}

.footer .footer-content .contact-form .socials a {
    background-color: #419fc2;
    margin-right: 5px;
    width: 40px;
    height: 40px;
    margin-right: 50x;
    display: inline-block;
    padding-top: 3px;
    text-align: center;
    font-size: 1.3rem;
    border-radius: 5px;
    transition: all .2s;
}

.footer .footer-content .contact-form .socials a:hover {
    color: #355561;
    border: 1px white;
    transition: all .2s;
    transform: scale(1.2);
}

.photo-gallery {
    color:#313437;
    background-color: none;
  }

  .photo-gallery .photos {
    padding-bottom:10px;
  }
  
  .photo-gallery .item {
    padding-bottom:30px;
  }
  
  /* 
    About Page...
  */
  main {
    padding: 4rem;
    }
    main .icons {
      margin-top: 1rem; }
      main .icons a {
        padding: 0.4rem; }
        main .icons a:hover {
          color: #355561;
          transition: all 0.28s ease-out; }
    main#home {
      overflow: hidden; }
      main#home h1 {
        margin-top: 20vh; }
  
    .bio-image {
        margin: 10px 30vh;
        width: 20vh;
        height: 20vh;
        border-radius: 50%;
        }
        

  .about-info {
    display: grid;
    grid-gap: 40px;
    grid-template-areas: 'bioimage bio bio'
   'job1 job2 job3';
    grid-template-columns: repeat(3, 1fr); }

    .about-info .bio-image {
      grid-area: bioimage;
      margin: auto;
      border-radius: 50%;
      border: 5px solid #355561; }
      
    .about-info .bio {
      grid-area: bio;
      font-size: 1.3rem; }
    .about-info .job-1 {
        box-shadow: 5px 13px 15px rgba(10, 9, 9, 0.815);
        grid-area: job1; }
    .about-info .job-2 {
        box-shadow: 5px 13px 15px rgba(0, 0, 0, 0.815);
        grid-area: job2; }
    .about-info .job-3 {
        box-shadow: 5px 13px 15px rgba(0, 0, 0, 0.815);
      grid-area: job3; }
    .about-info .job {
      background: #55c5bf;
      /* opacity: 0.9; */
      padding: 1rem 1rem;
      border-bottom: 5px solid #355561; }
  
  @media screen and (max-width: 768px) {
    main {
      align-items: center;
      text-align: center; }
    .about-info {
      grid-template-areas: 'bioimage'
   'bio'
   'job1' 
   'job2' 
   'job3';
      grid-template-columns: 1fr; }
 }
  
  @media screen and (max-width: 500px) {
    main#home h1 {
      margin-top: 10vh; }
    }
  
    .getus #form {
        background: #8bd4d1
    }

    .getus {
        background: #d0ecec;
        width: 100%;
        display: flex;
    }

    .login {
        width: 80%;
        height: 80%;
    }

    .signup {
        width: 80%;
        height: 80%;
    }

    .flex-container {
        display: flex;
        flex-flow: row wrap;
        padding: 20px 110px;
        margin: 50px;
      }
      
      .flex-container > div {
        background-color: #355561;
        width: 200px;
        height: 415px;
        margin: 20px 20px;
        text-align: center;
        line-height: 75px;
        font-size: 30px;
        box-shadow: 5px 13px 15px rgba(0, 0, 0, 0.815);
    }

      .flex-container .pic {
          background-color: white;
          margin: 15px 15px 0;
          height: 30vh;
      }
      .flex-container .pic img {
          opacity: 1;
        object-fit: fill;
        width: 170px;
        height: 237px;
        transition: transform .2s;
    }
      
      .flex-container .pic img:hover {
        transform: scale(.91);
      }

      .flex-container .info {
          position: relative;
          margin:  0 15px;
          background-color: black; 
          color: #feffff;
      }

      .flex-container .price {
        position: relative;
        margin:  0 15px;
        background-color: white;
        transition: transform .2s;
    }

    .flex-container .price p:hover{
        transform: scale(1.1);
    }


    .flip-card {
        background-color: transparent;
        margin-left: 85px;
        width: 300px;
        height: 200px;
        perspective: 600px; /* Remove this if you don't want the 3D effect */
      }
      
      /* This container is needed to position the front and back side */
      .flip-card-inner {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform .6s;
        transform-style: preserve-3d;
      }
      
      /* Do an horizontal flip when you move the mouse over the flip box container */
      .flip-card:hover .flip-card-inner {
        transform: rotateY(180deg);
      }
      
      /* Position the front and back side */
      .flip-card-front, .flip-card-back {
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
      }
      
      /* Style the front side (fallback if image is missing) */
      .flip-card-front {  
        background-color: #8bd4d1;
        width: 20vh;
        height: 20vh;
        border-radius: 50%;
        color: black;
      }
      .
      /* Style the back side */
      .flip-card-back {
        background-color: #8bd4d1;
        width: 20vh;
        height: 20vh;
        border-radius: 50%;
        color: black;
        padding-top: 20px;
        border: 4px solid #355561;
        transform: rotateY(180deg);
      }

      .overlay {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0, 0.9);
        overflow-x: hidden;
        transition: 0.5s;
      }
      
      .overlay-content {
        position: relative;
        top: 25%;
        width: 100%;
        text-align: center;
        margin-top: 30px;
      }
      
      .overlay a {
        padding: 8px;
        text-decoration: none;
        font-size: 36px;
        color: #818181;
        display: block;
        transition: 0.3s;
      }
      
      .overlay a:hover, .overlay a:focus {
        color: #f1f1f1;
        text-decoration: none;
      }
      
      .overlay .closebtn {
        position: absolute;
        top: 20px;
        right: 45px;
        font-size: 60px;
      }
      
      @media screen and (max-height: 450px) {
        .overlay a {font-size: 20px}
        .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
        }
      }